/*
* Reset
*/
body, html, div, span, p, img, ul, li, form, input, label, button, textarea, table, tr, td, tbody, thead, th, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	line-height: 100%;
	border: 0 none;
	outline: 0 none;
}

/*
* HTML
*/
html {
	height: 100%;
	width: 100%;
}

/*
* Body
*/
body {
	background: url("../images/bg-noise.png") repeat scroll 0 0 #D7D7D7;
	font-size: 14px;
	line-height: 14px;
	height: 100%;
	width: 100%;
}

/*
* layout
*/
.wrapper {
    max-width: 896px;
    margin: 0 auto;
}

.container {
	position: relative;
	float: left;
	height: 100%;
	width: 100%;
	background: #FFFFFF;	
    border-color: #C2C0C0;
    border-style: solid;
    border-width: 0 1px;
    box-shadow: 0 0 15px rgba(122, 122, 122, 0.4);
}

/*
* Header
*/
.header {
	float: left;
	width: 100%;
	height: 161px;
}

.logo_wrapper {
	height: 130px;
	width: 100%;
}
.navigation {
	background: none repeat scroll 0 0 #222222;
	height: 30px;
	line-height: 30px;
	border-color: #C2C0C0;
	border-width: 1px;
	border-style: solid;
	border-bottom: 1px;
	border-top: 1px;
	border-left: 0;
	border-right: 0;
}

/*
* Content
*/
.content {
	float: left;
	width: 94%;
	padding-left: 4%;
	padding-right: 4%;
	min-height: 735px;
}

.content p {
	width: 600px;
}

/*
* Footer
*/
.footer {
	background: none repeat scroll 0 0 #222222;
	float: left;
	width: 100%;
	height: 180px;
}

area {
	background: red;
}

.pShow-h1 {
	position: relative;
	z-index: 1;
}