<div class="pSHow">
	<!-- fade -->
	<div class="pShow-fade"></div>
	<!-- /fade -->
	<div class="pShow-wrapper">
		<!-- close -->
		<div class="pShow-close"></div>
		<!-- /close -->

		<!-- image -->
		<div class="pShow-img_container">
			<!-- pagination -->
			<div class="pShow-pagination">
				<div class="pShow-pagination-next"></div>
				<div class="pShow-pagination-prev"></div>
			</div>
			<!-- /pagination -->
			<img src="" alt="" class="pShow-img">
		</div>
		<!-- /image -->

		<!-- splitter -->
		<div class="pShow-splitter"></div>
		<!-- /splitter -->
	</div>
</div>